
$color-primary:#042ea0;
$color-secondary: rgb(248, 248, 248);
$color-three: #b92d23;
$color-four: #cc2f2f;


.bg {
    background-image: url("/flag2.jpg");
    background-repeat: repeat; 
    background-color: $color-three;
    font-family: 'Special Elite', cursive;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;    
    text-shadow:  rgba(25, 33, 34, 0.767) 2px 2px 5px;
}
h1 {
    font-family: 'Cinzel Decorative', cursive;
    color: $color-secondary;
    background:linear-gradient(to bottom, #1439dd 5%,#0264e4 100%); 
    // background:linear-gradient(to top, $color-four 5%, $color-three 100%);
    text-align: center; 
    padding-top: .4em;
    border-top: double;    
    text-shadow: #455983 3px 3px 5px;
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;
    border-radius: 10px;  
}
h3 {
    text-align: center;
    color: rgb(255, 251, 251);
    font-family: 'Cinzel Decorative', cursive;
}
.container {
    text-align: center;
    color: white;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow: rgba(51, 48, 42, 0.877) 2px 3px 10px;
    // background:linear-gradient(to bottom, #1a3edd 5%,#0768e7 100%);    
    background:linear-gradient(to bottom, $color-three 5%, $color-three 25%, #faf8f8d2 50%,#224cc0 75%, #1a42af 85%, $color-primary 100%);
	border-radius:10px;
    padding: 3em;     
}
.list-group-horizontal {
    flex-direction: row;
}
.about {
    text-align: center;
    max-width: 200px;  
}
.list-group-item {
    background-color: $color-primary;
    color: white;    
}
h2 {
    color: white;
    font-family: 'Cinzel Decorative', cursive;
}
.card-body {
    background-color: $color-primary;
}
a {
    color: white;
}
.btn-danger {
    color: #fff;
    background-color: $color-three;
    border-color: #dc3545;
}
.rowC{
   padding: 20px;
}
.col-sm-8, .col-sm-4 {
    background:linear-gradient(to top, $color-four 5%, $color-three 100%);
    // background:linear-gradient(to bottom, #3453dd 5%,#267beb 100%);	
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}
.form-group {
    background:linear-gradient(to bottom, #e43f29 5%,  #d34e3c 100%);
    // background:linear-gradient(to bottom, #506ae2 5%,#3583e9 100%);	
    // background:linear-gradient(to top, $color-four 5%, $color-three 100%);
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;
    border-radius: 20px; 
    margin-left: auto;
    margin-right: auto;
}
button, .btn-primary {
    background-color: $color-primary;
    border-color: #06f3cc;
    color: #fff;
    border-radius: 9%;
}
.table {
    color: white;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: rgb(252, 248, 248);    }
    49%{    color: rgb(247, 207, 207); }
    60%{    color: rgb(50, 99, 233);  }
    99%{    color: rgb(11, 47, 165);   }
    100%{   color: rgb(252, 246, 246);    }
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:linear-gradient(to top, $color-four 5%, $color-three 100%);
	background-color:$color-three;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton4 {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
    // background:linear-gradient(to top, $color-four 5%, $color-three 100%);
    background:linear-gradient(to bottom, $color-three 5%, $color-three 25%, #faf8f8d2 50%,#224cc0 75%, #1a42af 85%, $color-primary 100%);
	background-color:$color-three;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#f31313;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.blinking2{
    animation:blinkingText2 1.2s infinite;
}
@keyframes blinkingText2{
    0%{     color: rgb(250, 245, 245);    }
    49%{    color: rgb(180, 0, 0); }
    60%{    color: rgb(50, 99, 233);  }
    99%{    color: rgb(11, 47, 165);   }
    100%{   color: rgba(243, 79, 208, 0.794);    }
}
.myButton:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton2 {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow: rgba(51, 48, 42, 0.877) 2px 3px 10px;
    // background:linear-gradient(to bottom, #3655e2 5%, $color-primary 100%);
    background:linear-gradient(to top, #dd4747 5%, $color-three 100%);
	background-color: $color-primary;
	border-radius:6px;
	border:1px solid #ed8733;  
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    margin-bottom: 10px;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton2:active {
	position:relative;
	top:1px;
}
p {
    font-size: 19px;
    font-family: 'Cinzel Decorative', cursive;
}
@media screen and (min-width: 0px) and (max-width: 993px) {
    .star7 { display: none !important; }     
  }
  .img-fluid {
      border-radius: 10px;    
      margin-bottom: 20px;
      margin-top: 20px;     
  }
  .shadow-sm {
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px !important; 
  }
  .img-thumbnail{
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card-body{
      box-shadow: none !important;
  }
  .card{
    margin-top: 20px;  
  }
  .col-md-4{
      border-radius: 15px;
  }
  .card-img-top:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .border{
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;
    border-radius: 20px;
    // background-color: $color-primary;
    background:linear-gradient(to top, $color-three 5%, $color-three 30%, #faf8f8d2 50%,$color-primary 70%, $color-primary 100%);
  }
  .checkout {
    padding: 20px;
  }
.list7{
    text-align: center;
    color: rgb(255, 251, 251);
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: -20px;
    font-size:25px;
    padding: 10px;
}
.myButton3 {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow: rgba(51, 48, 42, 0.877) 2px 3px 10px;
    // background:linear-gradient(to bottom, #2749e0 5%,#1572eb 100%);	
    background:linear-gradient(to bottom, #304fdb 5%,#1a73e7 100%);	
	border-radius:10px;
	border:1px solid #337fed;
    font-family: 'Cinzel Decorative', cursive !important;
	cursor:pointer;
	color:#ffffff;
	// font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    margin-bottom: 10px;
}
.myButton3:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton3:active {
	position:relative;
	top:1px;
}
.grit{
    display: grid;
    max-width: 100px !important;
}
      

