$color-primary:#191b6d;
$color-secondary: rgb(248, 248, 248);
$color-three: #cc0000;


body {
    background-color: $color-primary;
    font-family: 'Special Elite', cursive;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;    
    text-shadow:  rgba(25, 33, 34, 0.767) 2px 2px 5px;
}
h1 {
    font-family: 'Special Elite', cursive;
    color: $color-secondary;
    text-align: center; 
    padding-top: .4em;
    border-top: double;    
    text-shadow: #101113 5px 5px 5px;
}
h3 {
    text-align: center;
    color: rgb(255, 251, 251);
}
.container {
    text-align: center;
    color: white;
    background-color: $color-three;
    div {
        border-width:5px;  
        border-style:ridge;
        box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;

    }
    padding: 2em;   
}
.header {
    text-align: center;    
}
.list-group-horizontal {
    flex-direction: row;      
}
.about {
    text-align: center;
    max-width: 200px;  
}
.list-group-item {
    background-color: $color-primary;
    color: white;    
}
h2 {
    color: white;
}
.card-body {
    background-color: $color-primary;
}
a {
    color: white;
}
.btn-danger {
    color: #fff;
    background-color: $color-three;
    border-color: #dc3545;
}
.col-sm-8, .col-sm-4, .form-group {
background-color: $color-primary;
}
button, .btn-primary {
    background-color: $color-primary;
    border-color: #06f3cc;
    color: #fff;
    border-radius: 9%;
}
.table {
    color: white;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: rgb(252, 248, 248);    }
    49%{    color: rgb(247, 207, 207); }
    60%{    color: rgb(240, 114, 114);  }
    99%{    color: rgb(238, 63, 63);   }
    100%{   color: rgb(252, 246, 246);    }
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton2 {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow: rgba(51, 48, 42, 0.877) 2px 3px 10px;
	background:linear-gradient(to bottom, #3655e2 5%, $color-primary 100%);
	background-color: $color-primary;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton2:active {
	position:relative;
	top:1px;
}
.star7 {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3655e2 5%, $color-primary 100%);
	background-color: $color-primary;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;	
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd; 
}
p {
    font-size: 19px;
}
@media screen and (min-width: 0px) and (max-width: 993px) {
    .star7 { display: none !important; }     
  }
  .img-fluid {
      border-radius: 10px;
      box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;
      margin-bottom: 20px;
      margin-top: 20px;     
  }
  .shadow-sm {
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px !important; 
  }
  .img-thumbnail{
    box-shadow: rgba(51, 48, 42, 0.877) 5px 5px 10px;
    margin-bottom: 20px;
  }
  .card-body{
      box-shadow: none !important;
  }
  .card{
    margin-top: 20px;  
  }

      

